<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leaf"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:maxSdkVersion="16"
        android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/application_name"
        android:largeHeap="true"
        android:theme="@style/Theme.Sherlock" >
        
        <uses-library android:name="com.google.android.maps" />

        <activity android:hardwareAccelerated="true"
            android:name=".LeafActivity"
            android:label="@string/application_name"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NearbySpeciesActivity"
            android:label="geo" />
    </application>

</manifest>